/* vim: set shiftwidth=2 tabstop=2 autoindent cindent expandtab: */

#action-details[data-visible="false"] {
  visibility: hidden;
}

#action-details[data-visible="true"] {
  visibility: visible;
}

#action-controls[data-visible="false"] {
  visibility: hidden;
}

#action-controls[data-visible="true"] {
  visibility: visible;
}

#action-feedback[data-visible="false"] {
  visibility: hidden;
}

#action-feedback[data-visible="true"] {
  visibility: visible;
}
